.friends .friends__plus {
  padding: 15px 0px;
  border-top: 1px solid #f53838;
  border-bottom: 1px solid #f53838;
  margin: 15px 0px;
}

.friends__plus .friends__title,
.friends__list .friends__title {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 10px;
}
